body {
    margin-top: 3.5rem;
}
.contenedor-principal {
    display: flex; /* Para que los elementos hijos se alineen horizontalmente */
    min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1{
	color:#0000FF;
}

.navbar-brand{
    margin:0 2rem;
}
.step {
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s;
}
.step.completed {
    background-color: #d4edda;
    text-decoration: line-through;
}
.contenedor-principal.d-flex  {
    height: 100%;
}
/**SIDEBAR**/

.forum-style {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;

}
.icon{
    margin: 0 5px;
}
.list-group-item.item-sidebar{
    background-color: #EFE7DA;
    color:#4B4B4B;
}
#sidebar {
    height: 100%;
    background-color: #EFE7DA;
    position: fixed;
    transition: all 0.3s;
    width: 250px;
    left: 0; /* Ocultar sidebar en dispositivos pequeños */
    z-index: 1;
}
/* Botón del menú */
#menuToggle {
    position: relative;
    z-index: 2; /* Asegurarse de que el botón quede por encima del sidebar */
    color:white;
}
.menu-lateral.border-right{
    background-color: #EFE7DA ;
}

.star {
    color: gold;
    font-size: 1.2em;
}
.destacar-comentario {
    border: 2px solid gold; /* Resalta con un borde dorado */
    background-color: #f9f9f9; /* Un fondo más claro */
    padding: 10px; /* Un poco de espacio alrededor */
    font-weight: bold; /* Hacer el texto más destacado */
}
/* Ocultar el sidebar en dispositivos móviles */
@media (max-width: 768px) {
    #sidebar {
        display: none; /* Ocultar el sidebar por defecto en móviles */
    }
}

/* Mostrar el sidebar cuando se active */
#sidebar.active {
    display: block; /* Mostrar el sidebar cuando está activo */
    left: 0; /* Mostrar el sidebar cuando está activo */
}


/* Carrito compras */
.div-carrito{
    position: relative;
}

.carrito{
    cursor: pointer;
    height: 30px;
    width: 30px;
    position: relative;
}

.count-products{
    position: absolute;
    top: 20px;
    right: -12px;
    background-color: #cccccc;
    color: black;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 12px;
}

.contenedor-carrito{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.modal-carrito{
    width: 300px;
    height: 600px;
    background-color: #ececec;
    position: absolute;
    z-index: 1;
    border-radius: 15px;
    left: 75%;
    top: 62px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

.titulo-popup-carrito{
    text-align: center;
}

.titulo-popup-carrito{
    font-family: Arial;
}

/*--------------------- VISTAS MIS PUBLICACIONES ---------------------*/

/* Buscador compras */
.buscador-productos {
    position: relative;
    margin: 0 auto;
    display: flex; /* Usar flexbox para alinear elementos */
    justify-content: center;
    width: 600px;
}

.input-buscador {
    padding: 10px;
    padding-right: 35px; /* Espacio para la imagen de la lupa */
    border-radius: 5px;
    border: 0;
    outline: none;
    font-size: 1rem;
    background-color: #cccccc;
    width: 600px;
}

.img-buscador {
    cursor: pointer;
    width: 21px;
    height: 21px;
    margin-left: -30px; /* Mueve la imagen hacia la izquierda para que se superponga ligeramente */
    align-self: center; /* Alinea la imagen verticalmente al centro */
}

.label-ordenar{
    display: flex;
    margin-right: 150px;
    position: relative;
    left: 90%;
}

.label-ordenar select{
    border-radius: 5px;
    margin-left: 10px;

}

.div-pausar-publicacion{
    display: flex;
    margin-right: 10px;
}

.btn-comentario{
    position: absolute;
    bottom: 0px;
}

.toggle-container {
    width: 90px;
    height: 30px;
    background-color: #e0e0e0;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.toggle-button {
    width: 50px;
    height: 21px;
    background-color: #4CAF50;
    border-radius: 50px;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

#toggleText{
    font-size: 12px;
}

.toggle-container.active .toggle-button {
    left: 34px;
    background-color: #f44336;
}

.toggle-container.active #toggleText {
    content: "No";
}

.div-btn-pausar{
    margin-left: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-btn-pausar p{
    margin-bottom: 5px;
}

.btn-primary-delete{
    background-color: red !important;
}

.btn-limpiar-busqueda{
    width: 170px !important;
    margin-left: 8px;
}

/*--------------------- VISTAS COMPRAR MATERIALES ---------------------*/

.btn-ordenar-precio{
    width: 80px !important;
    height: 38.21px;
    border-radius: 5px !important;
    margin-left: 10px !important;
}

.div-ordenar-precio{
    margin-bottom: 25px !important;
    margin-right: 250px !important;
}

.option-ordenar-precio{
    width: 140px !important;
}








.display-none{
    display: none;
}