<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

<!--    <div>-->
<!--        <img class="carrito" th:src="@{/images/png/carrito.png}" width="30" height="30">-->
<!--    </div>-->

    <div class="container-fluid">
        <!-- Botón de menú (visible solo en móviles) -->
        <span class=" p-2 d-md-none" id="menuToggle" type="button">
        <i class="fas fa-bars"></i>
        </span>
        <a class="navbar-brand" th:href="@{/home}" >Maven</a>
        <div class="contenedor-carrito">
            <div>
                <img class="carrito" id="carrito" th:src="@{/images/png/carrito.png}">
            </div>
        <div class="ml-auto d-flex align-items-center">
            <span class="text-white mr-2" th:text="${(nombreUsuario != null  &&  nombreUsuario != '') ? nombreUsuario : 'Iniciar sesión'}"></span>            <i class="fas fa-user-circle icon" style="font-size: 30px; color:#cccccc;"></i>
        </div>
        </div>

        <div class="modal-carrito display-none" id="modal-carrito">
            <p class="titulo-popup-carrito"> Productos del carrito</p>
        </div>

    </div>

</nav>

<script type="text/javascript" th:src="@{/js/carrito.js}"></script>