<!-- Sidebar -->
<div class="bg-light border-right mt-5" id="sidebar">
    <div class="sidebar-heading text-center"><i class="fas fa-bars"></i> Menú</div>
    <div class="list-group list-group-flush">
        <a th:href="@{/nuevo-proyecto}"  class="list-group-item list-group-item-action"><i class="fas fa-plus-square icon"></i>Crear proyecto</a>
        <a th:href="@{/proyectos}" class="list-group-item list-group-item-action"><i class="fas fa-th-list icon"></i>Mis proyectos</a>
        <a th:href="@{/materiales}" class="list-group-item list-group-item-action"><i class="fas fa-boxes icon"></i>Materiales</a>
        <a th:href="@{/logout}" class="list-group-item list-group-item-action"><i class="fas fa-sign-out-alt icon"></i>LogOut</a>
    </div>
</div>
