<!-- Sidebar -->
<div class="menu-lateral border-right">
    <div id="sidebar" class="d-md-block"> <!-- Ocultar el sidebar en móviles -->
        <div class="list-group list-group-flush">
            <a th:href="@{/nuevo-proyecto}" class="list-group-item item-sidebar list-group-item-action"><i class="fas fa-plus-square icon"></i> Crear proyecto</a>
            <a th:href="@{/consultas}" class="list-group-item item-sidebar list-group-item-action"><i class="fas fa-bullhorn icon"></i>Foro</a>
            <a th:href="@{/proyectos}" class="list-group-item item-sidebar list-group-item-action"><i class="fas fa-th-list icon"></i> Mis proyectos</a>
            <a th:href="@{/materiales}" class="list-group-item item-sidebar list-group-item-action"><i class="fas fa-boxes icon"></i> Comprar Materiales</a>
            <a th:href="@{/misPublicaciones}" class="list-group-item item-sidebar list-group-item-action"><i class="fas fa-newspaper icon"></i> Mis publicaciones</a>
            <a href="#" class="list-group-item item-sidebar list-group-item-action"><i class="fas fa-comment-alt icon"></i> Chat</a>
            <a th:href="@{/logout}" class="list-group-item item-sidebar list-group-item-action"><i class="fas fa-sign-out-alt icon"></i> LogOut</a>
            <a th:href="@{/mis-datos}" class="list-group-item item-sidebar list-group-item-action"><i class="fas fa-regular fa-user"></i>  Mis Datos</a>
        </div>
    </div>
</div>