<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!-- Incluir el fragmento del head -->
<div th:replace="template/head"></div>
<style>
  .card-img-top-custom {
    width: 100%;
    height: 250px; /* Establece la altura deseada */
    object-fit: cover; /* Hace que la imagen se ajuste al contenedor sin perder proporción */
  }
  .card{
    background-color: rgba(239, 231, 218, 0.6); /* 0.8 es la opacidad, ajústala según necesites */
  }
</style>
<body>
<!-- Incluir el fragmento del navbar -->
<div th:replace="template/navbar"></div>
<div class="contenedor-principal d-flex">
  <!-- Incluir el fragmento del sidebar -->
  <div th:replace="template/sidebar"></div>
  <!-- Main content -->
  <main role="main" class="container mt-3">

      <form class="d-flex mb-5" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar Material" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
        <a th:href="@{/limpiar-filtros}">
          <button class="btn btn-outline-success btn-limpiar-busqueda" type="button">Limpiar Filtros</button>
        </a>
      </form>


    <div class="d-flex  align-items-center div-ordenar-precio">
    <form th:action="@{/ordenar-precio}" id="ordenarForm">
      <label for="ordenar">Ordenar precio por:</label>
      <select  class="btn-ordenar-precio selec-ordenar-precio option-ordenar-precio" id="ordenar" name="ordenar" onchange="this.form.submit()">
        <option class="option-ordenar-precio" value="#">Mas relevantes</option>
        <option class="option-ordenar-precio" value="mayor"  th:selected="${ordenar == 'mayor'}">Mayor</option>
        <option class="option-ordenar-precio" value="menor" th:selected="${ordenar == 'menor'}">Menor</option>
      </select>
    </form>
    </div>


    <div class="row gap-4">
      <!-- Card for each publication -->
      <div th:each="publicacion : ${publicaciones}" class="card col-md-4 mb-4 shadow-sm" style="width: 26rem;">
        <img th:src="@{/images/cemento-image.jpeg}" class="card-img-top-custom" alt="cemento">
        <div class="card-body">
          <h5 class="card-title">Titulo: <span th:text="${publicacion.nombre}"></span></h5>
          <p class="card-text">Precio: <span th:text="${publicacion.precio}"></span></p>
          <p class="card-text">Cantidad disponible: <span th:text="${publicacion.stock}"></span></p>
          <p class="card-text">Ubicación: Buenos Aires, Argentina</p>
          <div class="d-flex justify-content-between align-items-center">
            <a href="#" class="btn btn-primary">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>