<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!-- Incluir el fragmento del head -->
<div th:replace="template/head"></div>

<body>
<!-- Incluir el fragmento del navbar -->
<div th:replace="template/navbar"></div>

<div class="contenedor-principal d-flex">
  <!-- Incluir el fragmento del sidebar -->
  <div th:replace="template/sidebar"></div>
  <!-- Main content -->
  <main role="main" class="container mt-3">
    <h3>Tipo de Proyecto: <span th:text="${tipoProyecto}"></span></h3>
    <form th:action="@{/respuesta}" method="POST"> <!-- Cambia la acción según sea necesario -->
      <div th:each="pregunta : ${preguntas}">
        <div class="mb-3">
          <label th:for="'pregunta_' + ${pregunta.id}" class="form-label" th:text="${pregunta.texto}"></label>
          <div th:each="opcion : ${pregunta.opciones}">
            <div class="form-check">
              <label>
                <input type="radio" class="form-check-input" th:id="'opcion_' + ${opcion.id}" th:name="'pregunta_' + ${pregunta.id}" th:value="${opcion.texto}" />
              </label>
              <label th:for="'opcion_' + ${opcion.id}" class="form-check-label" th:text="${opcion.texto}"></label>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Mostrar los pasos</button>
    </form>
  </main>
  <!-- /.container -->
</div>


<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>